* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background: #ede9e9;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/alphapage.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form {
  display: inline-block;
  margin: 0 auto;
  width: 800px;
  margin-top: 600px;
  margin-left: 570px;
  border: none;
  padding: 100px;
  border-radius: 40px;
}

.file::file-selector-button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 24px;
  color: #3f66d9;
  font-family: "IBM Plex Sans";
  background: #f0f2fa;
  position: relative;
  cursor: pointer;
}
.file::file-selector-button:hover{
  border: 1px solid #2c53c7;
  background: #2c53c7;
  transition: 1s;
  font-size: 24px;
  color: #f0f2fa;
}

.file {
}

.button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 24px;
  color: #3f66d9;
  font-family: "IBM Plex Sans";
  background: #f0f2fa;
  position: relative;
  cursor: pointer;
}
.button:hover{
  border: 1px solid #2c53c7;
  background: #2c53c7;
  transition: 1s;
  font-size: 24px;
  color: #f0f2fa;
}



