<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">
    <title>Open XES analyzer</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <section class="header">


    <section>
    <form
      class="form"
      action="http://[::1]:9001/uploader"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" accept=".xes" class="file" />
      <input type="submit" class="button" />
    </form> 
  </body>
</html>
